.main-div {
    height: 70px;
    background: white;
    white-space: nowrap;
}
.child-div {
    display: inline-block;
}
.name-store {
    font-family: Chilanka, sans-serif;
    padding-right: 10%;
    font-size: 40px;
    width: 25%;
}
.content-addr-info {
    color: dimgrey;
    font-family: "JetBrains Mono Light", sans-serif;
    font-size: 15px;
}
.align-color {
    text-align: right;
    color: dimgrey;
}
.parent-div {
    height: 80px;
    background: lightcoral;
    white-space: nowrap;
}
.child-div {
    display: inline-block;
}
.align-right {
    text-align: right;
}
.name-store {
    color: dimgrey;
    font-family: Chilanka, sans-serif;
    padding-right: 10%;
    font-size: 40px;
    width: 25%;
}
.categories {
    font-size: 20px;
}
.search-block {
    width: 40%;
}
.search {
    width: 100% !important;
}
.icon {
    width: 5%;
}
li > a {
    background-color: lightgrey !important;
}
.wrapper {
    display: inline-block;
    width: 100%;
}
.btn-group {
    width: 100%;
}
.btns {
    height: 60px;
}