<div class="container-fluid main-div">
    <div class="row">
        <div class="name-store child-div col-5 align-color">
            <div>wardrobe</div>
        </div>
        <div class="content-addr-info child-div col-3 align-color">
            Адреса<br />
            Полтава, вул. Соборності 45В
        </div>
        <div class="content-addr-info child-div col-3 align-color">
            Контактна інформація<br />
            Email: wardrobe@gmail.com<br />
            Tел: +3806695950
        </div>
    </div>
</div>

