<div class="bd-example wrapper">
    <div
            class="btn-group-vertical btn-group"
            role="group"
            aria-label="Група вертикальних кнопок"
    >
        <button type="button" class="btn btn-outline-secondary btns">
          <span style="vertical-align: inherit"
          ><span style="vertical-align: inherit">Cукні</span></span
          >
        </button>
        <button type="button" class="btn btn-outline-secondary btns">
          <span style="vertical-align: inherit"
          ><span style="vertical-align: inherit">Блузи</span></span
          >
        </button>
        <button type="button" class="btn btn-outline-secondary btns">
          <span style="vertical-align: inherit"
          ><span style="vertical-align: inherit">Топи</span></span
          >
        </button>
        <button type="button" class="btn btn-outline-secondary btns">
          <span style="vertical-align: inherit"
          ><span style="vertical-align: inherit">Футболки</span></span
          >
        </button>
        <button type="button" class="btn btn-outline-secondary btns">
          <span style="vertical-align: inherit"
          ><span style="vertical-align: inherit">Шорти</span></span
          >
        </button>
        <button type="button" class="btn btn-outline-secondary btns">
          <span style="vertical-align: inherit"
          ><span style="vertical-align: inherit">Спідниці</span></span
          >
        </button>
        <button type="button" class="btn btn-outline-secondary btns">
          <span style="vertical-align: inherit"
          ><span style="vertical-align: inherit">Джинси</span></span
          >
        </button>
    </div>
</div>

